.main{
    background-color: aqua;
    border: 1px solid violet;
}

body{
    justify-content: center;
    background: url('luffy5-.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    min-height: 100vh;
}

.a { 
    text-decoration: none;

}
table {
    border:2px solid black;
    width: 100%;
    text-align: center;
}

.Ap{
    align-items: center;
    width: 50%;
}


body .h1{
    text-align: center;
    border: 1px solid tomato;
}